<li class="dropdown">
    <a href="/About" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li><a href="https://a03satyavrath.herokuapp.com/">Satyavrath Injamuri</a></li>
            <li><a href="https://warm-bayou-52594.herokuapp.com/">Haritha Atmakuri</a></li>
            <li><a href="https://susritha.herokuapp.com/">Susritha Gade</a></li>
            <li><a href="https://vast-taiga-22655.herokuapp.com/">Abhiram Madugula</a></li>
          </ul>
        </li>
    </ul>
  </li>