<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> Shop 4 U</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href= />Home</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/customer">Customer</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/orderLineItem">Order Line Item</a></li>
                
                <% include about.ejs %>
               
                   
            </ul>
        </div>
    </nav>