<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h1>Shop 4 U</h1>
      <br />
      <h2>Use this area to display information.</h2>
      <br />
      <hr />
      <h3>During development, test your api here.</h3>
      <br />
      <br />
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="/customer"
            >customer</a
          >
        </li>
        <li>
          <a href="/customer/create"
            >customer/create</a
          >
        </li>
        <li>
          <a href="/customer/edit/1"
            >customer/edit/1</a
          >
        </li>
        <li>
          <a href="/customer/edit/2"
            >customer/edit/2</a
          >
        </li>
        <li>
          <a href="/customer/edit/3"
            >customer/edit/3</a
          >
        </li>
        <li>
          <a href="/customer/edit/4"
            >customer/edit/4</a
          >
        </li>
        <li>
          <a href="/customer/edit/5"
            >customer/edit/5</a
          >
        </li>
        <li>
          <a href="/customer/details/1"
            >customer/details/1</a
          >
        </li>
        <li>
          <a href="/customer/details/2"
            >customer/details/2</a
          >
        </li>
        <li>
          <a href="/customer/details/3"
            >customerdetails/3</a
          >
        </li>
        <li>
          <a href="/customer/details/4"
            >customer/details/4</a
          >
        </li>
        <li>
          <a href="/customer/details/5"
            >customer/details/5</a
          >
        </li>
        <li>
          <a href="/customer"
            >customer/delete/1</a
          >
        </li>
        <li>
          <a href="/customer"
            >customer/delete/2</a
          >
        </li>
        <li>
          <a href="/customer"
            >customer/delete/3</a
          >
        </li>
        <li>
          <a href="/customer"
            >customer/delete/4</a
          >
        </li>
        <li>
          <a href="/customer"
            >customer/delete/5</a
          >
        </li>

        <br />

        <li>
          <a href="/orders"
            >orders</a
          >
        </li>
        <li>
          <a href="/orders/create"
            >orders/create</a
          >
        </li>
        <li>
          <a href="/orders/edit/1"
            >orders/edit/1</a
          >
        </li>
        <li>
          <a href="/orders/edit/2"
            >orders/edit/2</a
          >
        </li>
        <li>
          <a href="/orders/edit/3"
            >orders/edit/3</a
          >
        </li>
        <li>
          <a href="/orders/edit/4"
            >orders/edit/4</a
          >
        </li>
        <li>
          <a href="/orders/edit/5"
            >orders/edit/5</a
          >
        </li>

        <li>
          <a href="/orders/details/1"
            >orders/details/1</a
          >
        </li>
        <li>
          <a href="/orders/details/2"
            >orders/details/2</a
          >
        </li>
        <li>
          <a href="/orders/details/3"
            >orders/details/3</a
          >
        </li>
        <li>
          <a href="/orders/details/4"
            >orders/details/4</a
          >
        </li>
        <li>
          <a href="/orders/details/4"
            >orders/details/5</a
          >
        </li>

        <li>
          <a href="/orders/delete/1"
            >orders/delete/1</a
          >
        </li>
        <li>
          <a href="/orders/delete/2"
            >orders/delete/2</a
          >
        </li>
        <li>
          <a href="/orders/delete/3"
            >orders/delete/3</a
          >
        </li>
        <li>
          <a href="/orders/delete/4"
            >orders/delete/4</a
          >
        </li>
        <li>
          <a href="/orders/delete/4"
            >orders/delete/5</a
          >
        </li>

        <br />

        <li>
          <a href="/orderLineItem"
            >orderLineItem</a
          >
        </li>

        <li>
          <a href="/orderLineItem/create"
            >orderLineItem/create</a
          >
        </li>
        <li>
          <a href="/orderLineItem/edit/1"
            >orderLineItem/edit/1</a
          >
        </li>
        <li>
          <a href="/orderLineItem/edit/2"
            >orderLineItem/edit/2</a
          >
        </li>
        <li>
          <a href="/orderLineItem/edit/3"
            >orderLineItem/edit/3</a
          >
        </li>
        <li>
          <a href="/orderLineItem/edit/4"
            >orderLineItem/edit/4</a
          >
        </li>

        <li>
          <a href="/orderLineItem/details/1"
            >orderLineItem/details/1</a
          >
        </li>
        <li>
          <a href="/orderLineItem/details/2"
            >orderLineItem/details/2</a
          >
        </li>
        <li>
          <a href="/orderLineItem/details/3"
            >orderLineItem/details/3</a
          >
        </li>
        <li>
          <a href="/orderLineItem/details/4"
            >orderLineItem/details/4</a
          >
        </li>

        <li>
          <a href="/orderLineItem/delete/1"
            >orderLineItem/delete/1</a
          >
        </li>
        <li>
          <a href="/orderLineItem/delete/2"
            >orderLineItem/delete/2</a
          >
        </li>
        <li>
          <a href="/orderLineItem/delete/3"
            >orderLineItem/delete/3</a
          >
        </li>
        <li>
          <a href="/orderLineItem/delete/3"
            >orderLineItem/delete/4</a
          >
        </li>

        <br />

        <li>
          <a href="/product"
            >product</a
          >
        </li>

        <li>
          <a href="/product/create"
            >product/create</a
          >
        </li>
        <li>
          <a href="/product/edit/1"
            >product/edit/1</a
          >
        </li>
        <li>
          <a href="/product/edit/2"
            >product/edit/2</a
          >
        </li>
        <li>
          <a href="/product/edit/3"
            >product/edit/3</a
          >
        </li>
        <li>
          <a href="/product/edit/4"
            >product/edit/4</a
          >
        </li>

        <li>
          <a href="/product/details/1"
            >product/details/1</a
          >
        </li>
        <li>
          <a href="/product/details/2"
            >product/details/2</a
          >
        </li>
        <li>
          <a href="/product/details/3"
            >product/details/3</a
          >
        </li>
        <li>
          <a href="/product/details/4"
            >product/details/4</a
          >
        </li>

        <li>
          <a href="/product/delete/1"
            >product/delete/1</a
          >
        </li>
        <li>
          <a href="/product/delete/2"
            >product/delete/2</a
          >
        </li>
        <li>
          <a href="/product/delete/3"
            >product/delete/3</a
          >
        </li>
        <li>
          <a href="/product/delete/4"
            >product/delete/4</a
          >
        </li>
      </ol>
      <br />
      <h4>GET JSON</h4>
      <ol>
        <li>
          <a href="/customer/findall"
            >customer/findall</a
          >
        </li>
        <li>
          <a href="/customer/findone/1"
            >customer/findone/1</a
          >
        </li>
        <li>
          <a href="/customer/findone/2"
            >customer/findone/2</a
          >
        </li>
        <li>
          <a href="/customer/findone/3"
            >customer/findone/3</a
          >
        </li>
        <li>
          <a href="/customer/findone/4"
            >customer/findone/4</a
          >
        </li>
        <li>
          <a href="/customer/findone/4"
            >customer/findone/4</a
          >
        </li>
        <li>
          <a href="/customer/findone/5"
            >customer/findone/5</a
          >
        </li>
        <br />

        <li>
          <a href="/orders/findall"
            >orders/findall</a
          >
        </li>
        <li>
          <a href="/orders/findone/1"
            >orders/findone/1</a
          >
        </li>
        <li>
          <a href="/orders/findone/2"
            >orders/findone/2</a
          >
        </li>
        <li>
          <a href="/orders/findone/3"
            >orders/findone/3</a
          >
        </li>
        <li>
          <a href="/orders/findone/4"
            >orders/findone/4</a
          >
        </li>

        <br />

        <li>
          <a href="/orderLineItem/findall"
            >orderLineItem/findall</a
          >
        </li>
        <li>
          <a href="/orderLineItem/findone/1"
            >orderLineItem/findone/1</a
          >
        </li>
        <li>
          <a href="/orderLineItem/findone/2"
            >orderLineItem/findone/2</a
          >
        </li>
        <li>
          <a href="/orderLineItem/findone/3"
            >orderLineItem/findone/3</a
          >
        </li>
        <li>
          <a href="/orderLineItem/findone/4"
            >orderLineItem/findone/4</a
          >
        </li>

        <br />

        <li>
          <a href="/product/findall"
            >product/findall</a
          >
        </li>
        <li>
          <a href="/product/findone/1"
            >product/findone/1</a
          >
        </li>
        <li>
          <a href="/product/findone/2"
            >product/findone/2</a
          >
        </li>
        <li>
          <a href="/product/findone/3"
            >product/findone/3</a
          >
        </li>
        <li>
          <a href="/product/findone/4"
            >product/findone/4</a
          >
        </li>
      </ol>
    </div>
  </div>
</div>
