<!-- Author: Haritha Atmakuri -->
<br/>
<br/>
<h2>Confirm deletion of Product</h2>
<br/>
<br/> ID:
<%=  product._id %>
  <br> ProductName:
  <%=product.Product_Name %>
    <br/> ProductType:
    <%=product.Product_Type%>
    <br/> ProductDescription:
      <%=product.Product_Description%>
     <br/>ProductPrice:
      <%=product.Product_Price%>
     <br/>
     <br/>ProductManfactureDate:
      <%=product.Product_ManfactureDate%>
     <br/>ProductExpiryDate:
      <%=product.Product_ExpiryDate%>
     <br/>ProductStatus:
     <%=product.Product_Status%>
   <br/>   
            <br/>
            <br/>

            <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/product/delete/<%= product._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>
