<!-- Author: Haritha Atmakuri -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="product/create" class="btn btn-primary new">
        Create a new product
      </a>
      <h2>Recent product entries</h2>
      <p>There are
        <%= products.query.length %> products.
    </p>
    <% for ( let i = 0; i < products.query.length; i++) {   
      product = products.query[i];   %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          ID:
          <%=product._id %>
          <br> ProductName:
          <%=product.Product_Name %>
          <br> ProductType:
          <%=product.Product_Type %>
          <br> ProductDescription:
          <%=product.Product_Description %>
           <br>ProductPrice:
          <%=product.Product_Price %>
           <br>ProductManfactureDate:
          <%=product.Product_ManfactureDate %>
           <br>ProductExpiryDate:
          <%=product.Product_ExpiryDate %>
           <br>ProductStatus:
          <%=product.Product_Status %>
          
    <br>
    <br>
    <a href="product/delete/<%= product._id %>" class="btn btn-danger"> Delete </a>
    <a href="product/details/<%= product._id %>" class="btn btn-info"> Details </a>
    <a href="product/edit/<%= product._id %>" class="btn btn-warning"> Edit </a>
  </div>
  </div>
    <% } %>
 
</div>
</div>
</div>

