<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
        
      <div class="form-group">
        <label for="Product_Name">ProductName</label>
        <input type="text" class="form-control" id="Product_Name" name="Product_Name" value="<%= product.Product_Name %>" required>
      </div>
      <div class="form-group">
        <label for="Product_Type">ProductType</label>
        <input type="text" class="form-control" id="Product_Type" name="Product_Type" value="<%= product.Product_Type %>" required>
      </div>
      <div class="form-group">
        <label for="Product_Description">ProductDescription</label>
        <input type="text" class="form-control" id="Product_Description" name="Product_Description" value="<%= product.Product_Description %>" required>
      </div>
      <div class="form-group">
        <label for="Product_Price">ProductPrice</label>
        <input type="text" class="form-control" id="Product_Price" name="Product_Price" value="<%= product.Product_Price %>" required>
      </div>
      <div class="form-group">
        <label for="Product_ManfactureDate">ProductManfactureDate</label>
        <input type="text" class="form-control" id="Product_ManfactureDate" name="Product_ManfactureDate" value="<%= product.Product_ManfactureDate %>">
      </div>
      <div class="form-group">
        <label for="Product_ExpiryDate">ProductExpiryDate</label>
        <input type="text" class="form-control" id="Product_ExpiryDate" name="Product_ExpiryDate" value="<%= product.Product_ExpiryDate %>" required>
      </div>
      <div class="form-group">
        <label for="Product_Status">Product_Status</label>
        <input list="status" type="text" class="form-control" id="Product_Status" name="Product_Status" value="<%= product.Product_Status %>" required>
        <datalist id="status">
          <option class="form-control" value="Available">Available</option>
          <option class="form-control" value="Unavailable">Unavailable</option>
        </datalist>
      </div>
    </div>
  </div>
  
 