<br />
<br />
<h2>Confirm deletion of order</h2>
<br />
<br />
ID: <%= orders._id %> <br />
datePlaced: <%=orders.datePlaced%> <br />
dateShipped: <%=orders.dateShipped%> <br />
paymentType: <%=orders.paymentType%> <br />
paid: <%=orders.paid%> <br />
<br />
<br />
<form method="get" action="/orders">
  <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/orders/delete/<%= orders._id %>">
  <input
    type="submit"
    value="Delete this item"
    class="btn btn-danger pull-right"
  />
</form>
