<!-- main -->
<div class="row">
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="datePlaced">datePlaced</label>
      <input
        type="date"
        class="form-control"
        id="datePlaced"
        name="datePlaced"
        value="<%= order.datePlaced %>"
        required
      />
    </div>
    <div class="form-group">
      <label for="dateShipped">dateShipped</label>
      <input
        type="date"
        class="form-control"
        id="dateShipped"
        name="dateShipped"
        value="<%= order.dateShipped%>"
        required
      />
    </div>
    <div class="form-group">
      <label for="paymentType">Payment Type</label>
      <select
        class="form-control"
        id="paymentType"
        name="paymentType"
        dateShipped="paymentType"
        value="select"
        required
      >
        <option value="no selection">Select</option>
        <option value="cash">Cash</option>
        <option value="credit card">Credit Card</option>
        <option value="check">Check</option>
      </select>
    </div>
    <div class="form-group">
      <label for="paid">Paid</label>
      <select
        class="form-control"
        id="paid"
        name="paid"
        dateShipped="paid"
        value="select"
      >
        <option value="no selection">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
  </div>
</div>

<!--
  PUT CLIENT SIDE CODE HERE
  <script>
    // function toCurrency(amount)

    // https://gist.github.com/kylefox/780065
    function toCurrency(amount) {
      return "$" + amount.toFixed(2);
    }

    // function toCurrencyInt(amount)
    function toCurrencyInt(amount) {
      return "$" + amount.toFixed(0);
    }

    // Add  .toCurrency() method to all Numbers
    Number.prototype.toCurrency = function() {
      return toCurrency(this);
    };

    // Add  .toCurrencyInt() method to all Numbers
    Number.prototype.toCurrencyInt = function() {
      return toCurrencyInt(this);
    };

    function onAgeChange() {
      const newAge = parseFloat($("input[name=age]").val());
      let price = 75;
      if (newAge == 1) {
        price = 100;
      }
      $("#puppyCost").html(price.toCurrencyInt());
    }

    // window.onload = a function that will call all update functions to display calculated values
    window.onload = function() {
      onAgeChange();
    };

    // prevent submission when hitting enter key - optional, but user-friendly
    document.forms[0].onkeypress = function(e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    };

    // END CLIENT SIDE CODE  (close the script tag)
  </script>
-->
